/* Auto-grow Text Areas (css-tricks.com/the-cleanest-trick-for-autogrowing-textareas) */
.grow-wrap {
  /* easy way to plop the elements on top of each other and have them both sized based on the tallest one's height */
  display: grid;
}
.grow-wrap::after {
  /* Note the weird space! Needed to preventy jumpy behavior */
  content: attr(data-replicated-value) " ";

  /* This is how textarea text behaves */
  white-space: pre-wrap;

  /* Hidden from view, clicks, and screen readers */
  visibility: hidden;
}
.grow-wrap > textarea {
  /* You could leave this, but after a user resizes, then it ruins the auto sizing */
  resize: none;

  /* Firefox shows scrollbar on growth, you can hide like this. */
  overflow: hidden;
}
.grow-wrap > textarea,
.grow-wrap::after {
  /* NOTE: Identical styling required!! */
  padding: 0.25rem;
  font: inherit;

  /* Place on top of each other */
  grid-area: 1 / 1 / 2 / 2;
}

/* Auto-add indicators for required fields (https://stackoverflow.com/q/49685336) */
input[required] + label:after,
select[required] + label:after {
  content: '*';
  color: #b80c09; /* text-highlight1-500 */
}

/* Styling for tippy.js elements (https://atomiks.github.io/tippyjs/v6/themes/) */
.tippy-box[data-theme~='fund'] {
  background-color: #e4e4d8; /* bg-primary-500 */
  color: #04080f; /* text-secondary-500 */
  border-color: #04080f; /* border-secondary-500 */
  border-width: 1px; /* border */
}
.tippy-box[data-theme~='fund'][data-placement^='top'] > .tippy-arrow::before {
  border-top-color: #04080f; /* border-secondary-500 */
}
.tippy-box[data-theme~='fund'][data-placement^='bottom'] > .tippy-arrow::before {
  border-bottom-color: #04080f; /* border-secondary-500 */
}
.tippy-box[data-theme~='fund'][data-placement^='left'] > .tippy-arrow::before {
  border-left-color: #04080f; /* border-secondary-500 */
}
.tippy-box[data-theme~='fund'][data-placement^='right'] > .tippy-arrow::before {
  border-right-color: #04080f; /* border-secondary-500 */
}
